$gray: #16181C;
$blue: #41444d;

.trends {
  border-radius: 25px;
  width: 25em;
  background-color: $gray;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;

  h3 {
    font-weight: 900;
    padding-left: 10px;
  }

  .trend-container {
    padding-left: 10px;
    width: 25em;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    h4 {
      font-weight: 900;
    }

    &:hover {
      background-color: #1b1e21;
    }
  }
}