backend/.idea
backend/.vscode
backend/.env
backend/.env.example
backend/.env.local
backend/.env.test
backend/.env.prod

backend/venv/
backend/db.sqlite3
backend/media/
backend/static/
backend/debug.log
backend/.coverage
backend/.pytest_cache
backend/.mypy_cache
backend/.pylint.d

frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.eslintcache
frontend/.gitignore
frontend/.yarnrc
frontend/.yarn
frontend/yarn.lock
frontend/.pnp.js
frontend/.pnp.cjs
frontend/.pnp.mjs
frontend/.yarn-integrity
frontend/.yarnrc.yml
frontend/.yarnignore


